<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <title>Cyclotron</title>
</head>
<body>
  <div class="podzial-panel-mapa">
    <div class="obszar-mapy">
      <img class="mapa-cyklotronu" src="cyklotron.png">
    </div>
    <div class="obszar-paneli">

      <!--<input type="number" step="0.1" value="0" class="pole-tekstowe-na-wartosc-pradu"></input>
      <p>asdasdM</p>-->

      <div id="panel1" class="panel">
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">NAME<p>
          </div>
          <div class="obszar-na-nazwe-magnesu">
            <moja-cyfra class="cyfra" wartosc="M"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="2"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">ON/OFF<p>
          </div>
          <div class="obszar-na-guzik-on-off">
            <label class="switch switch--round">
              <input class="switch__input" type="checkbox" role="switch" name="round">
              <span class="switch__border"></span>
              <span class="switch__inside"></span>
              <span class="switch__flap-a"></span>
              <span class="switch__label">Round</span>
            </label>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">POLARITY<p>
          </div>
          <div class="obszar-na-polaryzacje">
            <div class="toggle">
              <input class="toggle-input" type="checkbox"></input> <!-- dodać ID -->
              <div class="toggle-handle-wrapper">
                <div class="toggle-handle">
                  <div class="toggle-handle-knob"></div>
                  <div class="toggle-handle-bar-wrapper">
                    <div class="toggle-handle-bar"></div>
                  </div>
                </div>
              </div>
              <div class="toggle-base">
                <div class="toggle-base-inside"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">VOLTAGE<p>
          </div>
          <div class="obszar-na-napiecie">
            <moja-cyfra class="cyfra" wartosc="2"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="2"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="0."></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="0"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="V"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">CURRENT<p>
          </div>
          <div class="obszar-na-natezenie">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="4"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="2."></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="9"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="A"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">ERROR CODE<p>
          </div>
          <div class="obszar-na-bledy">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
          </div>
          <div class="obszar-na-bledy">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
          </div>
        </div>
      </div>







      <div id="panel2" class="panel">
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">NAME<p>
          </div>
          <div class="obszar-na-nazwe-magnesu">
            <moja-cyfra class="cyfra" wartosc="M"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="3"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">ON/OFF<p>
          </div>
          <div class="obszar-na-guzik-on-off">
            <label class="switch switch--round">
              <input class="switch__input" type="checkbox" role="switch" name="round">
              <span class="switch__border"></span>
              <span class="switch__inside"></span>
              <span class="switch__flap-a"></span>
              <span class="switch__label">Round</span>
            </label>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">POLARITY<p>
          </div>
          <div class="obszar-na-polaryzacje">
            <div class="toggle">
              <input class="toggle-input" type="checkbox"></input> <!-- dodać ID -->
              <div class="toggle-handle-wrapper">
                <div class="toggle-handle">
                  <div class="toggle-handle-knob"></div>
                  <div class="toggle-handle-bar-wrapper">
                    <div class="toggle-handle-bar"></div>
                  </div>
                </div>
              </div>
              <div class="toggle-base">
                <div class="toggle-base-inside"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">VOLTAGE<p>
          </div>
          <div class="obszar-na-napiecie">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="8"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="7."></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="0"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="V"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">CURRENT<p>
          </div>
          <div class="obszar-na-natezenie">
            <moja-cyfra class="cyfra" wartosc="1"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="3"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="7."></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="6"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="A"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">ERROR CODE<p>
          </div>
          <div class="obszar-na-bledy">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
          </div>
          <div class="obszar-na-bledy">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
          </div>
        </div>
      </div>







      <div id="panel3" class="panel">
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">NAME<p>
          </div>
          <div class="obszar-na-nazwe-magnesu">
            <moja-cyfra class="cyfra" wartosc="M"></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="7"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">ON/OFF<p>
          </div>
          <div class="obszar-na-guzik-on-off">
            <label class="switch switch--round">
              <input class="switch__input" type="checkbox" role="switch" name="round">
              <span class="switch__border"></span>
              <span class="switch__inside"></span>
              <span class="switch__flap-a"></span>
              <span class="switch__label">Round</span>
            </label>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">POLARITY<p>
          </div>
          <div class="obszar-na-polaryzacje">
            <div class="toggle">
              <input class="toggle-input" type="checkbox"></input> <!-- dodać ID -->
              <div class="toggle-handle-wrapper">
                <div class="toggle-handle">
                  <div class="toggle-handle-knob"></div>
                  <div class="toggle-handle-bar-wrapper">
                    <div class="toggle-handle-bar"></div>
                  </div>
                </div>
              </div>
              <div class="toggle-base">
                <div class="toggle-base-inside"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">VOLTAGE<p>
          </div>
          <div class="obszar-na-napiecie">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="V"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">CURRENT<p>
          </div>
          <div class="obszar-na-natezenie">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc="A"></moja-cyfra>
          </div>
        </div>
        <div class="obszar-na-naglowek-i-cos">
          <div class="obszar-na-naglowek">
            <p class="naglowek">ERROR CODE<p>
          </div>
          <div class="obszar-na-bledy">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
          </div>
          <div class="obszar-na-bledy">
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
            <moja-cyfra class="cyfra" wartosc=" "></moja-cyfra>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="../renderer.js"></script>
</body>
</html>
