<!DOCTYPE html>
<html dir="ltr" lang="pl">
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="styles.css">
  <meta http-equiv="Content-Security-Policy" content="default-src 'self'; script-src 'self'; style-src 'self' 'unsafe-inline';">
  <title>Cyclotron</title>
</head>
<body>
  <div class="podzial-panel-mapa">
    <div class="obszar-paneli">
    </div>
    <div class="podzial-mapa-tryb">
      <div>
        <div class="obszar-na-naglowek">
          <p class="naglowek">MODE</p>
        </div>
        <div class="control-knob dark">
          <input id="tryb-sterowania" type="checkbox">
          <div class="control-position on">
            <span>LOCAL</span>
          </div>
          <div class="control-position off">
            <span>REMOTE</span>
          </div>
          <div class="knob">
            <div class="knob-center"></div>
          </div>
        </div>
      </div>
      <div class="obszar-na-naglowek-i-cos">
        <div class="obszar-na-naglowek">
          <p class="naglowek">MAP</p>
        </div>
        <div class="obszar-mapy">
        </div>
      </div>
    </div>
  </div>
  <script src="../renderer.js"></script>
</body>
</html>
