@font-face {
  font-family: 'Terminator';
  src: url('TERMINAT.TTF') format('truetype');
}

:root {
  --tlo: #1C1C25;
  --kolor-wlaczonej-diody: #4CAF50;
  --zmiana: all 0.5s ease 0s;

  --hue: 223;
  --hue2: 28;
  --hue3: 13;
  --bg: hsl(var(--hue), 10%, 90%);
  --fg: hsl(var(--hue), 10%, 10%);
  --primary: hsl(var(--hue), 90%, 50%);
  --trans-dur: 0.3s;
  --trans-timing: cubic-bezier(0.65, 0, 0.35, 1);
}

.dark {
    --white: #000;
    --black: #fff;
    --baseColor: #e1e1e1;
    --baseColorBorder: #f1f1f1;
    --knobBorder: #303030;
    --knobColor: #e8e8e8;
    --knobHightlight: #ee5529;
  }

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Terminator', sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--tlo);
}

.podzial-panel-mapa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.obszar-mapy {
  display: flex;
  justify-content: center;
  align-items: center;
}

.obszar-paneli {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.naglowek {
  font-family: 'Terminator', sans-serif;
  font-size: 17px;
  color: white;
  text-align: center;
  background-color: #7C000B;
  padding: 10px;
}

.panel {
  /*background-color: blue;*/
  width: 100%;
  display: flex;
  gap: 10px;
}

.panel>* {
  margin: 10px;
}

.obszar-na-naglowek-i-cos {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.obszar-na-naglowek {
  display: flex;
  justify-content: center;
  align-items: center;
}

.obszar-na-nazwe-magnesu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;

  /*background-color: yellow;*/
}

.obszar-na-guzik-on-off {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /*background-color: green;*/
}

.obszar-na-polaryzacje {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  /* background-color: orange; */
  padding: 20px;
  padding-bottom: 0px;
}

.obszar-na-napiecie {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.obszar-na-natezenie {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.obszar-na-zmiane-natezenia-i-guziki {
  position: absolute;
  bottom: -60px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  z-index: 7;
  gap: 3px;
  background-color: grey;
  border-radius: 3px;
}

.obszar-na-zmiane-natezenia-i-guziki::before {
  content: "";
  display: block;
  position: absolute;
  height: 20px;
  width: 20px;
  background: grey;
  border-right: 0;
  border-bottom: 0;
  top: -10px;
  transform: rotate(45deg);
  z-index: -1;
}

.obszar-na-zmiane-natezenia {
  padding: 5px;
  padding-bottom: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.obszar-na-przyciski {
  display: flex;
  gap: 5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4px;
}

.obszar-na-przyciski input {
  cursor: pointer;
}

.obszar-na-bledy {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}


.cyfra svg {
  width: 56px;
  background-color: #090608;
}

.obszar-na-bledy svg {
  width: 28px;
}

.obszar-na-zmiane-natezenia svg,
.pusty-napis svg {
  width: 35px;
}

#panel1 .cyfra {
  /* Te atrybuty są używane przez moja-cyfra w niedosłownym znaczeniu! */
  outline-color: #203E1B;
  color: #60B846;
}

#panel2 .obszar-na-naglowek,
#panel3 .obszar-na-naglowek,
#panel4 .obszar-na-naglowek,
#panel5 .obszar-na-naglowek {
  height: 0;
  opacity: 0;
  visibility: hidden;
}

#panel2 .cyfra {
  /* Te atrybuty są używane przez moja-cyfra w niedosłownym znaczeniu! */
  outline-color: #5D3E19;
  color: #FFD800;
}

#panel3 .cyfra {
  /* Te atrybuty są używane przez moja-cyfra w niedosłownym znaczeniu! */
  outline-color: #4D2389;
  color: #BD93F9;
}

#panel4 .cyfra {
  /* Te atrybuty są używane przez moja-cyfra w niedosłownym znaczeniu! */
  outline-color: #324274;
  color: #8BE9FD;
}

#panel5 .cyfra {
  /* Te atrybuty są używane przez moja-cyfra w niedosłownym znaczeniu! */
  outline-color: #590804;
  color: #EC4135;
}

/* Przełącznik. */
.toggle {
  display: flex;
  justify-content: center;
  position: relative;
}

.toggle-input {
  position: absolute;
  z-index: 2;
  bottom: 132.5%;
  border-radius: 50%;
  transform: rotate(-25deg);
  transform-origin: 50% 4.75em;
  width: 1.75em;
  height: 1.75em;
  opacity: 0;
  transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
  cursor: pointer;
}

.toggle-input:checked {
  transform: rotate(25deg);
}

.toggle-handle-wrapper {
  position: absolute;
  z-index: 1;
  bottom: -135%;
  -webkit-mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
  mask-image: linear-gradient(to bottom, #000 62.125%, transparent 50%);
  width: 200%;
  overflow: hidden;
}

.toggle-handle {
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: rotate(-25deg);
  transform-origin: bottom center;
  transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}

.toggle-input:checked+.toggle-handle-wrapper>.toggle-handle {
  transform: rotate(25deg);
}

.toggle-handle-knob {
  position: relative;
  z-index: 1;
  border-radius: 50%;
  width: 1.75em;
  height: 1.75em;
  background-image: radial-gradient(farthest-corner at 70% 30%, #fedee2 4%, #d63534 12% 24%, #a81a1a 50% 65%, #d63534 75%);
  transition: transform 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}

.toggle-input:checked+.toggle-handle-wrapper .toggle-handle-knob {
  transform: rotate(-90deg);
}

.toggle-handle-knob::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  box-shadow: inset 0 0 8px 2px #000;
  opacity: 0;
  transition: opacity 0.2s;
}

.toggle-handle-bar-wrapper {
  position: relative;
  width: 0.5em;
  height: 3em;
}

.toggle-handle-bar {
  position: absolute;
  top: -0.875em;
  left: 0;
  width: 100%;
  height: calc(100% + 0.875em);
  background-image: linear-gradient(to right, #777475, #a4a4a4, #fff 45% 55%, #a4a4a4, #777475);
  background-position-x: 0.06125em;
  transition: background-position-x 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
  box-shadow: inset 0 1em 0.25em #000;
}

.toggle-input:checked+.toggle-handle-wrapper .toggle-handle-bar {
  background-position-x: -0.06125em;
}

.toggle-base {
  position: relative;
  border-radius: 3.125em;
  padding: 0.25em;
  width: 3.5em;
  height: 1.125em;
  background-color: #fff;
  background-image: linear-gradient(to bottom, #fff, #d7d7d7);
}

.toggle-base-inside {
  position: relative;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #a6a6a6, #7d7d7d);
  box-shadow: inset 0 0.0625em #000, inset 0 -0.03125em #000, inset 0 -0.0625em 0.25em #000;
}

.toggle-base-inside::after {
  content: '';
  position: absolute;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to bottom, #5ab054, #438c3c);
  box-shadow: inherit;
  opacity: 0;
  transition: opacity 0.24s cubic-bezier(0.65, 1.35, 0.5, 1);
}

.toggle-input:checked~.toggle-base {
  opacity: 1;
}


/* Włącznik. */
.switch {
	background-color: black;
	width: 90px;
	height: 110px;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2), 0 0 1px 2px black, inset 0 2px 2px -2px white, inset 0 0 2px 15px #47434c, inset 0 0 2px 22px black;
	border-radius: 3px;
	padding: 20px;
	perspective: 700px;
}
.switch input {
	display: none;
}
.switch input:checked + .button {
	transform: translateZ(20px) rotateX(25deg);
	box-shadow: 0 -10px 20px #ff1818;
}
.switch input:checked + .button .light {
	animation: flicker 0.2s infinite 0.3s;
}
.switch input:checked + .button .shine {
	opacity: 1;
}
.switch input:checked + .button .shadow {
	opacity: 0;
}
.switch .button {
	transition: all 0.3s cubic-bezier(1, 0, 1, 1);
	transform-origin: center center -20px;
	transform: translateZ(10px) rotateX(-25deg);
	transform-style: preserve-3d;
	background-color: #9b0621;
	width: 100%;
	height: 100%;
	position: relative;
	cursor: pointer;
	background: linear-gradient(#980000 0%, #6f0000 30%, #6f0000 70%, #980000 100%);
	background-repeat: no-repeat;
}
.switch .button::before {
	content: "";
	background: linear-gradient(rgba(255, 255, 255, 0.8) 10%, rgba(255, 255, 255, 0.3) 30%, #650000 75%, #320000) 50% 50%/97% 97%, #b10000;
	background-repeat: no-repeat;
	width: 100%;
	height: 50px;
	transform-origin: top;
	transform: rotateX(-90deg);
	position: absolute;
	top: 0;
}
.switch .button::after {
	content: "";
	background-image: linear-gradient(#650000, #320000);
	width: 100%;
	height: 50px;
	transform-origin: top;
	transform: translateY(30px) rotateX(-90deg);
	position: absolute;
	bottom: 0;
	box-shadow: 0 50px 8px 0px black, 0 80px 20px 0px rgba(0, 0, 0, 0.5);
}
.switch .light {
	opacity: 0;
	animation: light-off 1s;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(#ffc97e, #ff1818 40%, transparent 70%);
}
.switch .dots {
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(transparent 30%, rgba(101, 0, 0, 0.7) 70%);
	background-size: 10px 10px;
}
.switch .characters {
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(white, white) 50% 20%/5% 20%, radial-gradient(circle, transparent 50%, white 52%, white 70%, transparent 72%) 50% 80%/33% 25%;
	background-repeat: no-repeat;
}
.switch .shine {
	transition: all 0.3s cubic-bezier(1, 0, 1, 1);
	opacity: 0.3;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(white, transparent 3%) 50% 50%/97% 97%, linear-gradient(rgba(255, 255, 255, 0.5), transparent 50%, transparent 80%, rgba(255, 255, 255, 0.5)) 50% 50%/97% 97%;
	background-repeat: no-repeat;
}
.switch .shadow {
	transition: all 0.3s cubic-bezier(1, 0, 1, 1);
	opacity: 1;
	position: absolute;
	width: 100%;
	height: 100%;
	background: linear-gradient(transparent 70%, rgba(0, 0, 0, 0.8));
	background-repeat: no-repeat;
}
@keyframes flicker {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 0.8;
	}
	100% {
		opacity: 1;
	}
}
@keyframes light-off {
	0% {
		opacity: 1;
	}
	80% {
		opacity: 0;
	}
}



/* Przełącznik trybu */
.control-knob {
  background-color: var(--baseColor);
  padding: 10px;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 300px;
  height: 210px;
  border: 1px solid var(--baseColorBorder);
  border-radius: 20px;
  &:first-child {
    margin-right: 20px;
  }
  & input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 10;
    &:checked ~ .knob .knob-center {
      transform: rotate(40deg);
      &:after {
        transform: rotate(-90deg)
      }
    }
  }
  & .knob {
    display: flex;
    width: 100%;
    justify-content: center;
    & .knob-center {
      width: 150px;
      height: 150px;
      background-color: var(--knobColor);
      border-radius: 100%;
      z-index: 2;
      position: relative;
      left: -2px;
      border: 15px solid var(--knobBorder);
      outline: 1px solid #303030;
      transform: rotate(-45deg);
      transition: all 0.1s ease;
      &:before {
        content: "";
        height: 50%;
        width: 10px;
        display: block;
        position: absolute;
        top: -1px;
        left: 50%;
        transform: translateX(-50%);
        border-radius: 3px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.4);
        background-color: var(--knobHightlight);
      }
      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: transparent;
        border-radius: 100%;
        box-shadow: inset 1px 1px 2px rgba(255,255,255,0.5);
        transition: all 0.1s ease;
      }
    }
  }
  & .control-position {
    width: 50%;
    color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    position: relative;
    font-weight: 500;
  }
}
